body {
    background: -webkit-linear-gradient(left, #7CFC00,  #FAFA33, orange);
    background-size: cover;
}
html {
    overflow-y: scroll; 
  }

  .contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    
    text-align: center;
}

.contact-form form{

    padding: 20%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -13%;
    text-align: center;
    color: #495057;
    /* border:2px solid red;
    border-radius: 10px; */
}

#btn h3:hover{
    color: #7CFC00;

}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #0062cc;
    font-weight: 600;
    color: #fff;
    cursor: pointer;

}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.btnContact{
     
     margin-left: 70%;
}

ul li h4 {

    color: blue ;
}

ul li a:hover{
    background-color: white;
    border-radius: 25px;
}